/* Base Layout Styles --------------*/
* {
    box-sizing: border-box;
}

html {
    font-size: .9375em; /* 15px */
    hyphens: auto; /* browser chooses hyphenation rules to avoid overflow - useful for mobile devices */
}

img {
    width: 100%;
}


/* Mobile First Layout -------------*/
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 1rem;
}

.qr-component {
    max-width: 300px;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
}

/* Mobile First Colours & Fonts-----*/
body {
    background-color: hsl(212, 45%, 89%);
}

.qr-component {
    background-color: #fff;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.qr-component h1{
    font-weight: 700;
    font-size: 1.5rem;
}

.qr-component p{
    font-weight: 400;
    color: hsl(220, 15%, 55%)
}

/* Large Screen Layout -------------*/
@media screen and (min-width: 1440px) {

    .qr-component {
        box-shadow: 0 10px 30px hsl(220, 15%, 55%, 0.4);
    }

}
